* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

#top {
  scroll-margin-top: 1em; }
  @media (min-width: 738px) {
    #top {
      scroll-margin-top: 4em; } }
  @media (min-width: 1024px) {
    #top {
      scroll-margin-top: 6em; } }

#navMenu a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.35em;
  color: #000000;
  font-weight: 300;
  border-bottom: 1px solid #f4b527;
  text-transform: lowercase;
  margin: 0 auto; }
  #navMenu a:hover {
    color: #f4b527; }

#portfolioLinksDiv p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.05em;
  color: #000000;
  font-weight: 300;
  border-bottom: 1px solid #f4b527;
  text-transform: lowercase; }
  #portfolioLinksDiv p:hover {
    color: #f4b527; }
  @media (min-width: 738px) {
    #portfolioLinksDiv p {
      font-size: 1.35em; } }

.headline {
  font-family: "Source Serif Pro", serif;
  font-size: 4.5em;
  color: #000000; }

.subhead {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.75em;
  color: #f4b527;
  font-weight: 300;
  letter-spacing: 4px; }

.bodyCopy {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #535353;
  line-height: 1.75em; }
  @media (min-width: 738px) {
    .bodyCopy {
      font-size: 1.25em; } }

.companyName {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.75em;
  color: #000000;
  font-weight: 300;
  letter-spacing: 4px; }

.employmentLength {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #535353; }

.jobTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.35em;
  color: #f4b527; }
  @media (min-width: 738px) {
    .jobTitle {
      font-size: 1.5em; } }

#navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  #navContainer #nav {
    padding: 5px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      #navContainer #nav {
        max-width: 1024px; } }
    #navContainer #nav #logo {
      display: inline-block;
      width: 80%; }
      @media (min-width: 738px) {
        #navContainer #nav #logo {
          width: 35%; } }
      @media (min-width: 1024px) {
        #navContainer #nav #logo {
          width: 30%; } }
    #navContainer #nav #navMenuIcon {
      width: 1.75em;
      display: inline-block; }
      @media (min-width: 738px) {
        #navContainer #nav #navMenuIcon {
          display: none; } }
    #navContainer #nav #navMenu {
      display: none;
      margin: 0 auto; }
      @media (min-width: 738px) {
        #navContainer #nav #navMenu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          width: 65%;
          padding-left: 20px;
          text-align: right;
          margin: 0; } }
      @media (min-width: 1024px) {
        #navContainer #nav #navMenu {
          width: 50%; } }
      #navContainer #nav #navMenu a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 1em 0 0; }
        @media (min-width: 738px) {
          #navContainer #nav #navMenu a {
            display: inline-block;
            text-align: right;
            padding: 0px;
            margin-left: 1em; } }

#headerImg {
  width: 100%;
  height: 300px;
  background-color: gray;
  position: relative;
  z-index: 0;
  margin-top: 4.5em;
  background-image: url("../img/computer-820281.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  #headerImg p {
    text-align: right;
    position: absolute;
    bottom: -75px;
    right: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 34pt;
    color: #f4b527;
    font-weight: 300;
    letter-spacing: 15px;
    writing-mode: vertical-rl;
    text-shadow: none; }
    @media (min-width: 738px) {
      #headerImg p {
        writing-mode: horizontal-tb;
        bottom: 75px;
        right: 20px;
        text-shadow: 1px 1px 15px #535353, 1px 1px 15px #000000; } }
    @media (min-width: 1024px) {
      #headerImg p {
        max-width: 1024px;
        right: 15%; } }

#aboutSection {
  padding: 0 20px 30px;
  scroll-margin-top: -16em; }
  @media (min-width: 738px) {
    #aboutSection {
      scroll-margin-top: 10em; } }
  @media (min-width: 1024px) {
    #aboutSection {
      scroll-margin-top: 18em; } }
  @media (min-width: 1024px) {
    #aboutSection {
      max-width: 1024px;
      margin: 0 auto; } }
  #aboutSection #profiileImg {
    background-color: #000000;
    background-image: url("../img/ChelseaPike_sm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 320px;
    margin-top: -200px;
    z-index: 1;
    position: relative; }
    @media (min-width: 738px) {
      #aboutSection #profiileImg {
        width: 49%;
        height: 42em;
        display: inline-block;
        background-image: url("../img/ChelseaPike.jpg"); } }
  #aboutSection > div {
    width: 100%; }
    @media (min-width: 738px) {
      #aboutSection > div {
        width: 50%;
        display: inline-block;
        padding-left: 20px; } }
  #aboutSection .headline {
    margin-top: 0.25em; }
  #aboutSection .bodyCopy {
    margin-top: 1em; }

#skillsSection {
  padding: 0 0 30px;
  width: 100%;
  display: block;
  background-color: #000000;
  background: url("../img/light-bulbs-406939_sm.jpg") no-repeat top;
  background-size: cover;
  scroll-margin-top: 4em; }
  @media (min-width: 738px) {
    #skillsSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      scroll-margin-top: 5em; } }
  @media (min-width: 1024px) {
    #skillsSection {
      margin: 0 auto;
      background: url("../img/light-bulbs-406939.jpg") no-repeat top;
      background-size: cover;
      scroll-margin-top: 6em; } }
  #skillsSection .headline {
    color: #ffffff;
    width: 100%;
    padding: 15px 20px 0; }
  #skillsSection .skillsIcon {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin-left: -0.5em; }
    @media (min-width: 738px) {
      #skillsSection .skillsIcon {
        margin-top: 15px; } }
  #skillsSection .subhead {
    display: inline;
    vertical-align: 9px;
    margin-left: 5px;
    color: #f4b527; }
  #skillsSection .bodyCopy {
    color: #ffffff; }
  #skillsSection #skillsContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px; }
  #skillsSection #skillsList {
    padding: 0 20px; }
    @media (min-width: 738px) {
      #skillsSection #skillsList {
        width: 70%; } }
    @media (min-width: 1024px) {
      #skillsSection #skillsList {
        width: 50%; } }

#portfolioSection {
  padding: 30px 20px;
  scroll-margin-top: 3em; }
  #portfolioSection .bodyCopy {
    margin-bottom: 0.75em; }
  @media (min-width: 738px) {
    #portfolioSection {
      scroll-margin-top: 4em; } }
  @media (min-width: 1024px) {
    #portfolioSection {
      max-width: 1024px;
      margin: 0 auto;
      scroll-margin-top: 5.75em; } }
  #portfolioSection #portfolioLinksDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px; }
    @media (min-width: 738px) {
      #portfolioSection #portfolioLinksDiv {
        justify-content: center; } }
    #portfolioSection #portfolioLinksDiv p {
      margin: 0 10px;
      cursor: pointer; }
    #portfolioSection #portfolioLinksDiv a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.5em;
      color: #f4b527;
      font-weight: 400;
      text-decoration: none; }
      @media (min-width: 738px) {
        #portfolioSection #portfolioLinksDiv a {
          padding: 1em 1.75em; } }
  #portfolioSection #portfolioWork {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    #portfolioSection #portfolioWork > div.galleryIMG {
      width: 48%;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
      @media (min-width: 1024px) {
        #portfolioSection #portfolioWork > div.galleryIMG {
          width: 32%; } }
  #portfolioSection #loadMore {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.05em;
    color: #000000;
    font-weight: 300;
    border-bottom: 1px solid #f4b527;
    text-transform: lowercase;
    text-decoration: none;
    margin-left: auto; }
    #portfolioSection #loadMore:hover {
      color: #f4b527; }
    @media (min-width: 738px) {
      #portfolioSection #loadMore {
        font-size: 1.35em; } }
  #portfolioSection .galleryIMG > img {
    width: 100%;
    cursor: pointer; }
  #portfolioSection .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000; }
  #portfolioSection .galleryIMG:hover .overlay {
    opacity: 0.8; }
  #portfolioSection .text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
    color: #f4b527;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

#popup #popupControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

#popup .JPO_close {
  padding: 0.35em 0.5em;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin: 25px 1em 0.5em 0;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #f4b527; }
  #popup .JPO_close:hover {
    color: #ffffff; }

#popup #popupNext,
#popup #popupPrev {
  padding: 0.35em 0.5em;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin: 25px 0 0.5em 1em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #f4b527; }
  #popup #popupNext:hover,
  #popup #popupPrev:hover {
    color: #ffffff; }

#popup #popupTitle {
  width: 85%;
  display: inline-block;
  color: #ffffff;
  margin: 25px 0 0.5em; }

#popup #popupImageDiv,
#popup .popupImage {
  width: 100%;
  max-width: 300px;
  margin: auto; }
  @media (min-width: 738px) {
    #popup #popupImageDiv,
    #popup .popupImage {
      max-width: 700px; } }
  @media (min-width: 1024px) {
    #popup #popupImageDiv,
    #popup .popupImage {
      max-width: 1000px; } }

#resumeSection {
  padding: 0 20px 30px;
  scroll-margin-top: 4em; }
  @media (min-width: 738px) {
    #resumeSection {
      scroll-margin-top: 5em; } }
  @media (min-width: 1024px) {
    #resumeSection {
      max-width: 1024px;
      margin: 0 auto;
      scroll-margin-top: 6em; } }
  #resumeSection > p.bodyCopy {
    margin-bottom: 1.5em; }
  #resumeSection #resumeJobList {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap; }
    #resumeSection #resumeJobList .expandJobListing,
    #resumeSection #resumeJobList .collapseJobListing {
      width: 5%;
      padding: 5px;
      align-self: flex-start;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-bottom: 1px solid #f4b527; }
      #resumeSection #resumeJobList .expandJobListing:hover,
      #resumeSection #resumeJobList .collapseJobListing:hover {
        color: #f4b527; }
      @media (min-width: 738px) {
        #resumeSection #resumeJobList .expandJobListing,
        #resumeSection #resumeJobList .collapseJobListing {
          width: 3%; } }
      @media (min-width: 1024px) {
        #resumeSection #resumeJobList .expandJobListing,
        #resumeSection #resumeJobList .collapseJobListing {
          width: 2%; } }
  #resumeSection .resumeJobListItem {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    width: 95%; }
    #resumeSection .resumeJobListItem .companyName {
      width: 100%;
      margin-bottom: 0.25em; }
      @media (min-width: 738px) {
        #resumeSection .resumeJobListItem .companyName {
          width: 40%; } }
      @media (min-width: 1024px) {
        #resumeSection .resumeJobListItem .companyName {
          width: 25%;
          margin-right: 20px; } }
    #resumeSection .resumeJobListItem .jobListing {
      width: 90%; }
      @media (min-width: 738px) {
        #resumeSection .resumeJobListItem .jobListing {
          width: 60%;
          padding-left: 10px; } }
      @media (min-width: 1024px) {
        #resumeSection .resumeJobListItem .jobListing {
          width: 70%; } }
    #resumeSection .resumeJobListItem .jobDescription {
      margin: 0.5em 0 2em;
      font-size: 1em; }
  @media (min-width: 738px) {
    #resumeSection #jobDescriptionChatsworth,
    #resumeSection #jobDescriptionCorning {
      margin-top: -27px;
      margin-left: 40%;
      width: 60%;
      padding-left: 10px; } }
  @media (min-width: 1024px) {
    #resumeSection #jobDescriptionChatsworth,
    #resumeSection #jobDescriptionCorning {
      margin-left: 30%;
      width: 70%; } }
  @media (min-width: 738px) {
    #resumeSection #jobDescriptionPurered,
    #resumeSection #jobDescriptionElectrolux {
      margin-left: 40%;
      width: 60%;
      padding-left: 10px; } }
  @media (min-width: 1024px) {
    #resumeSection #jobDescriptionPurered,
    #resumeSection #jobDescriptionElectrolux {
      margin-left: 30%;
      width: 70%; } }
  #resumeSection hr {
    margin: 10px 0;
    color: "Roboto Condensed", sans-serif;
    width: 100%; }

#resumePDf {
  width: 95px;
  margin-right: 0;
  margin-left: auto; }
  #resumePDf a {
    display: block;
    padding: 0.5em 0 0;
    text-align: right;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.35em;
    color: #000000;
    font-weight: 300;
    border-bottom: 1px solid #f4b527;
    text-transform: lowercase; }
    #resumePDf a:hover {
      color: #f4b527; }

#programsBarContainer {
  width: 100%;
  background-color: #dcddde; }
  #programsBarContainer #programsBar {
    margin: 0 auto 30px;
    max-width: 1024px;
    padding: 10px 20px;
    height: 70px;
    position: relative; }
    @media (min-width: 738px) {
      #programsBarContainer #programsBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 10px 20px; } }
    #programsBarContainer #programsBar img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (min-width: 738px) {
        #programsBarContainer #programsBar img {
          display: inline-block;
          margin: 0.25em 0.5em;
          position: inherit;
          top: 0;
          left: 0;
          transform: translate(0, 0); } }

@keyframes flickerAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-o-keyframes flickerAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }
      #programsBarContainer #programsBar img:nth-child(1) {
        height: 30px;
        opacity: 0;
        animation: flickerAnimation 20s infinite;
        -webkit-animation: flickerAnimation 20s infinite;
        -moz-animation: flickerAnimation 20s infinite;
        -o-animation: flickerAnimation 20s infinite; }
        @media (min-width: 738px) {
          #programsBarContainer #programsBar img:nth-child(1) {
            opacity: 1;
            animation: none; } }
      #programsBarContainer #programsBar img:nth-child(2) {
        height: 50px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 4s;
        -webkit-animation: flickerAnimation 20s infinite 4s;
        -moz-animation: flickerAnimation 20s infinite 4s;
        -o-animation: flickerAnimation 20s infinite 4s; }
        @media (min-width: 738px) {
          #programsBarContainer #programsBar img:nth-child(2) {
            opacity: 1;
            animation: none; } }
      #programsBarContainer #programsBar img:nth-child(3) {
        height: 50px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 7s;
        -webkit-animation: flickerAnimation 20s infinite 7s;
        -moz-animation: flickerAnimation 20s infinite 7s;
        -o-animation: flickerAnimation 20s infinite 7s; }
        @media (min-width: 738px) {
          #programsBarContainer #programsBar img:nth-child(3) {
            opacity: 1;
            animation: none; } }
      #programsBarContainer #programsBar img:nth-child(4) {
        height: 50px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 10s;
        -webkit-animation: flickerAnimation 20s infinite 10s;
        -moz-animation: flickerAnimation 20s infinite 10s;
        -o-animation: flickerAnimation 20s infinite 10s; }
        @media (min-width: 738px) {
          #programsBarContainer #programsBar img:nth-child(4) {
            opacity: 1;
            animation: none; } }
      #programsBarContainer #programsBar img:nth-child(5) {
        height: 48px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 13s;
        -webkit-animation: flickerAnimation 20s infinite 13s;
        -moz-animation: flickerAnimation 20s infinite 13s;
        -o-animation: flickerAnimation 20s infinite 13s; }
        @media (min-width: 738px) {
          #programsBarContainer #programsBar img:nth-child(5) {
            opacity: 1;
            animation: none; } }
      #programsBarContainer #programsBar img:nth-child(6) {
        height: 34px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 16s;
        -webkit-animation: flickerAnimation 20s infinite 16s;
        -moz-animation: flickerAnimation 20s infinite 16s;
        -o-animation: flickerAnimation 20s infinite 16s; }
        @media (min-width: 738px) {
          #programsBarContainer #programsBar img:nth-child(6) {
            opacity: 1;
            animation: none; } }

#contactSection {
  padding: 0 20px 30px;
  scroll-margin-top: 4em; }
  @media (min-width: 738px) {
    #contactSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      scroll-margin-top: 5em; } }
  @media (min-width: 1024px) {
    #contactSection {
      max-width: 1024px;
      margin: 0 auto;
      scroll-margin-top: 6em; } }
  #contactSection > div {
    width: 100%; }
    @media (min-width: 738px) {
      #contactSection > div {
        width: 50%;
        padding-right: 20px; } }
  #contactSection .bodyCopy {
    margin-top: 1em; }
  #contactSection #emailAddress {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    color: #535353;
    border-bottom: 1px solid #f4b527; }
    #contactSection #emailAddress:hover {
      color: #f4b527; }
  #contactSection #googleMap {
    display: block;
    width: 100%;
    height: 175px;
    background-color: #000000; }
    @media (min-width: 738px) {
      #contactSection #googleMap {
        width: 49%;
        height: 375px; } }
  #contactSection #copyright {
    padding: 1em 0 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.85em;
    color: #535353; }

#linkedinProfile,
#githubProfile {
  text-decoration: none; }

#linkedinProfile > div {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0.5em 0.35em 0 0;
  background-image: url(../img/icon-linkedin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #linkedinProfile > div:hover {
    background-image: url(../img/icon-linkedin-f4b527.svg); }

#githubProfile > div {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0.5em 0.35em 0 0;
  background-image: url(../img/icon-github.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #githubProfile > div:hover {
    background-image: url(../img/icon-github-f4b527.svg); }
