@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
.styledH1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.875rem;
  color: #000;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  h1,
  .styledH1 {
    font-size: 4.5rem;
    line-height: 5.25rem;
  }
}

h2,
.styledH2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: #000;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  h2,
  .styledH2 {
    font-size: 3.25rem;
    line-height: 4rem;
  }
}

h3,
.styledH3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: #000;
  margin-bottom: 15px;
}

h4,
.styledH4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: #000;
  margin-bottom: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #494949;
}
@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
body p {
  margin-bottom: 15px;
}

a,
.button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #494949;
  text-decoration: none;
  cursor: pointer;
}
a .navLink,
.button .navLink {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.button {
  color: #fff;
  background-color: #10130E;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 30px;
  white-space: nowrap;
  border: none;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .button {
    padding: 15px 30px;
  }
}
.button svg {
  width: 0px;
  height: 0px;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 0.3s, opacity 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .button:hover, .button:focus-visible {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    flex-wrap: nowrap;
    display: inline-flex;
    transform: scale(1.1);
  }
}
@media (min-width: 1024px) {
  .button:hover svg, .button:focus-visible svg {
    width: auto;
    height: 12px;
    opacity: 1;
    transform: translate(0px, -1px);
  }
}
.button.secondary {
  background-color: #fff;
  color: #10130E;
  border: 1px solid #10130E;
}

header {
  padding-top: 80px;
}
@media (min-width: 768px) {
  header {
    padding-top: 100px;
  }
}

.myContainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .myContainer {
    padding: 0 20px;
  }
}

.display--inlineblock {
  display: inline-block;
}

.cornerRadius {
  border-radius: 15px;
}

.boxShadow {
  box-shadow: rgba(16, 19, 14, 0.2) 0 2px 8px;
  -webkit-box-shadow: rgba(16, 19, 14, 0.2) 0 2px 8px;
  -moz-box-shadow: rgba(16, 19, 14, 0.2) 0 2px 8px;
}

.categoryTag {
  padding: 3px 12px;
  position: relative;
  font-size: 0.9rem;
}
.categoryTag p {
  margin-bottom: 0px;
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.categoryTag .categoryTagsBorder {
  border-radius: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.categoryTag .categoryTagsBG {
  border-radius: 30px;
  background-image: radial-gradient(circle at 60% 100%, rgba(255, 255, 255, 0.75), rgba(154, 160, 149, 0.75));
  filter: blur(1px);
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
}

.author {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.author img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.author p {
  margin-bottom: 0;
}
.author .name {
  font-weight: 600;
  margin-bottom: 5px;
}

#projectContact {
  position: relative;
  padding: 60px 0px 100px;
}
#projectContact .myContainer {
  text-align: center;
}
@media (min-width: 768px) {
  #projectContact .myContainer {
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 0px;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  #projectContact .myContainer h2 {
    max-width: 400px;
  }
}
#projectContact .myContainer > p {
  margin-bottom: 25px;
}
#projectContact .myContainer #contactBtnsDiv {
  width: 100%;
}
#projectContact .bgDiv {
  background-color: #10130E;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  height: 50%;
  max-height: 225px;
}
@media (min-width: 768px) {
  #projectContact .bgDiv {
    height: 32%;
  }
}

#relatedProjects {
  position: relative;
}
#relatedProjects h2 {
  color: #fff;
  text-align: center;
}
#relatedProjects .bgDiv {
  background-color: #10130E;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -2;
  height: 25%;
}
@media (min-width: 1024px) {
  #relatedProjects .bgDiv {
    height: 50%;
  }
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
@media (min-width: 768px) {
  nav {
    padding: 0 10px;
    transition: padding 300ms ease-in-out;
  }
}
nav .myContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: hidden;
}
@media (min-width: 768px) {
  nav .myContainer {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
nav .myContainer p {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #000;
  flex-shrink: 0;
  margin-bottom: 0px;
}
nav .myContainer menu {
  max-height: 0px;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  list-style: none;
  text-align: right;
  padding: 1rem;
  order: 3;
  position: absolute;
  top: -100%;
  transition: max-height 300ms ease-in-out;
}
@media (min-width: 768px) {
  nav .myContainer menu {
    position: static;
    max-height: none;
    width: auto;
    padding: 0;
    opacity: 1;
    display: flex;
    gap: 20px;
  }
}
nav .myContainer menu li {
  padding: 0.8rem;
}
@media (min-width: 768px) {
  nav .myContainer menu li {
    padding: 0;
  }
}
nav .myContainer menu.active {
  max-height: 1000px;
  opacity: 1;
  position: static;
}
nav .myContainer > div {
  order: 2;
}
@media (min-width: 768px) {
  nav .myContainer > div {
    order: 3;
  }
}
nav .myContainer #menu {
  width: 40px;
  height: 40px;
  padding: 10px;
}
@media (min-width: 768px) {
  nav .myContainer #menu {
    display: none;
  }
}
nav .myContainer .button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.75rem;
}
nav .myContainer div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}
nav .myContainer.scrolled {
  background-color: #fff;
  padding-bottom: 10px;
  transition: background-color 300ms ease-in-out, padding-bottom 300ms ease-in-out;
}
@media (min-width: 768px) {
  nav .myContainer.scrolled {
    margin-top: 5px;
    border-radius: 10px;
  }
}
nav .myContainer.scrolled p {
  transform-origin: center left;
  transition: transform 300ms ease-in-out;
}
@media (min-width: 768px) {
  nav .myContainer.scrolled p {
    transform: scale(1.5);
  }
}

footer.dark {
  background-color: #10130E;
  color: #fff;
}
footer.dark .navLink {
  color: #fff;
}

footer {
  padding: 60px 0px 10px;
  background-color: #fff;
  color: #10130E;
}
footer .myContainer {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -7rem;
  padding: 0;
}
@media (min-width: 768px) {
  footer .myContainer {
    margin-top: 0rem;
  }
}
footer .myContainer .footerName {
  width: 60%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.8rem;
  border-bottom: 1px solid #9AA095;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  footer .myContainer .footerName {
    width: 100%;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
  }
}
footer .myContainer .footerName p {
  padding: 0 20px;
  margin-bottom: 0;
  flex-shrink: 0;
}
footer .myContainer .footerName hr {
  display: none;
}
@media (min-width: 768px) {
  footer .myContainer .footerName hr {
    display: block;
    border-color: #9AA095;
    width: 100%;
  }
}
footer .myContainer ul {
  border-top: 1px solid #9AA095;
  padding: 30px 15px 0 15px;
  margin-top: 7rem;
}
@media (min-width: 768px) {
  footer .myContainer ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-top: 0;
    width: auto;
    padding: 0 20px;
    border-top: none;
  }
}
@media (min-width: 1024px) {
  footer .myContainer ul {
    margin-left: 7rem;
  }
}
footer .myContainer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer .navLink {
  color: #10130E;
  font-weight: 300;
}
footer .copyright {
  width: 100%;
  text-align: center;
  margin: 30px 20px 0;
  font-size: 0.65rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  footer .copyright {
    width: auto;
    margin-top: 0;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  #footerLinks {
    position: relative;
  }
}
#footerLinks hr {
  display: none;
}
@media (min-width: 1024px) {
  #footerLinks hr {
    display: block;
    position: absolute;
    left: auto;
    right: 80%;
    top: 35%;
    width: 100%;
    border-color: #9AA095;
  }
}

#header {
  padding: 80px 0px;
  position: relative;
}
@media (min-width: 768px) {
  #header {
    padding-bottom: 0;
    margin-bottom: -130px;
  }
}
@media (min-width: 1024px) {
  #header {
    margin-bottom: -207px;
  }
}
@media (min-width: 768px) {
  #header .myContainer.index {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  #header .content {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #header .content {
    position: relative;
  }
}
#header .content h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  position: relative;
}
@media (min-width: 1024px) {
  #header .content h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}
#header .content h1 span {
  font-size: 1rem;
  color: #9AA095;
  font-weight: 600;
  position: absolute;
  top: -40px;
  left: 78px;
}
@media (min-width: 1024px) {
  #header .content h1 span {
    top: -50px;
    left: 105px;
  }
}
@media (min-width: 1024px) {
  #header .content .description {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 7rem;
    left: 15rem;
  }
}
#header .bgDiv {
  background-color: #10130E;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  height: 21%;
}

#headshot {
  display: none;
}
@media (min-width: 768px) {
  #headshot {
    display: inline;
    max-width: 40%;
  }
}

#headerCTAs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #headerCTAs {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  #headerCTAs {
    justify-content: center;
    padding-left: 100px;
    width: 125%;
  }
}
#headerCTAs .button {
  width: 100%;
}
@media (min-width: 768px) {
  #headerCTAs .button {
    width: 50%;
    padding: 20px 15px;
  }
}
#headerCTAs .button:last-child {
  border: 1px solid #fff;
}

#preview {
  position: relative;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  #preview {
    padding-top: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  #preview {
    padding-top: 100px;
  }
}
#preview ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px 0px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto 30px;
  color: #fff;
}
@media (min-width: 1024px) {
  #preview ul {
    margin-bottom: -30px;
  }
}
#preview ul li:not(:last-child):after {
  content: ">";
  padding: 0 10px;
}
#preview .previewImgsDiv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  #preview .previewImgsDiv {
    flex-wrap: nowrap;
  }
}
#preview .previewImgsDiv .previewImg {
  width: 30%;
  flex-grow: 1;
  height: auto;
}
@media (min-width: 768px) {
  #preview .previewImgsDiv .previewImg {
    width: 39%;
  }
}
@media (min-width: 1024px) {
  #preview .previewImgsDiv .previewImg {
    width: 24%;
  }
}
#preview .previewImgsDiv .previewImg.main {
  width: 60%;
  flex-grow: 2;
  height: auto;
}
@media (min-width: 768px) {
  #preview .previewImgsDiv .previewImg.main {
    width: 59%;
  }
}
@media (min-width: 1024px) {
  #preview .previewImgsDiv .previewImg.main {
    width: 49%;
    order: 3;
  }
}
#preview .previewImgsDiv .previewImg:nth-child(1) {
  order: 3;
  flex-grow: 0;
  margin-left: 35%;
}
@media (min-width: 768px) {
  #preview .previewImgsDiv .previewImg:nth-child(1) {
    margin-left: 41%;
  }
}
@media (min-width: 1024px) {
  #preview .previewImgsDiv .previewImg:nth-child(1) {
    margin-left: 0;
    order: 1;
  }
}
#preview .previewImgsDiv .previewImg:nth-child(2) {
  transform: translateY(30px);
}
@media (min-width: 768px) {
  #preview .previewImgsDiv .previewImg:nth-child(2) {
    transform: translateY(120px);
  }
}
@media (min-width: 1024px) {
  #preview .previewImgsDiv .previewImg:nth-child(2) {
    transform: translateY(0px);
    order: 2;
  }
}
#preview .bgDiv {
  background-color: #10130E;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
}

#about {
  padding: 80px 0 30px;
  margin-top: -50px;
}
@media (min-width: 768px) {
  #about .myContainer {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  #about .myContainer {
    justify-content: flex-end;
    gap: 18%;
  }
}
@media (min-width: 1024px) {
  #about div:nth-child(1) {
    padding-left: 5%;
  }
}
#about .calloutsDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 30px auto 60px;
}
#about .calloutsDiv .styledH3 {
  display: block;
}
#about .button {
  width: 100%;
  margin-top: 30px;
}
@media (min-width: 768px) {
  #about .button {
    width: auto;
  }
}

#portfolio {
  padding-top: 80px;
  margin: 20px auto;
}
@media (min-width: 1024px) {
  #portfolio .headerDiv {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  #portfolio h2 {
    margin-bottom: 10px;
  }
}

#portfolioProjects {
  margin: 60px auto;
}
@media (min-width: 768px) {
  #portfolioProjects {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1024px) {
  #portfolioProjects {
    grid-template-columns: auto auto auto;
  }
}
#portfolioProjects .project {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}
#portfolioProjects .project h3 {
  margin-top: 15px;
}
#portfolioProjects .project .imgDiv {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
#portfolioProjects .project .imgDiv img {
  width: 100%;
  transition: transform 300ms;
}
#portfolioProjects .project .imgDiv .categoryTagsDiv {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
#portfolioProjects .project:hover img {
  transform: scale(1.1);
}
#portfolioProjects .project:hover h3 {
  font-weight: 700;
}

#shout-outs {
  padding-top: 80px;
  margin: -50px auto 60px;
}
#shout-outs .myContainer {
  padding: 0;
}
@media (min-width: 1024px) {
  #shout-outs .myContainer {
    padding: 0 20px;
  }
}
#shout-outs h2 {
  padding: 0px 20px;
  text-align: center;
}

#sliderDiv {
  background-color: #10130E;
  padding: 40px 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  #sliderDiv {
    padding: 60px 30px 40px;
  }
}
@media (min-width: 1024px) {
  #sliderDiv {
    border-radius: 30px;
  }
}
#sliderDiv .slide {
  position: relative;
  display: none;
}
@media (min-width: 1024px) {
  #sliderDiv .slide {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    padding-left: 50px;
  }
}
#sliderDiv .slide .logoDiv {
  width: auto;
  height: auto;
  position: absolute;
  top: -20px;
  right: 0;
}
@media (min-width: 768px) {
  #sliderDiv .slide .logoDiv {
    top: -25px;
  }
}
@media (min-width: 1024px) {
  #sliderDiv .slide .logoDiv {
    height: 70px;
    width: 150px;
    top: auto;
    bottom: -30px;
    left: -70px;
    transform: rotate(-90deg);
  }
}
#sliderDiv .slide .logoDiv .logo {
  transform-origin: right center;
  transform: scale(0.7);
}
@media (min-width: 768px) {
  #sliderDiv .slide .logoDiv .logo {
    transform: scale(1);
  }
}
#sliderDiv .slide .logoDiv hr {
  display: none;
}
@media (min-width: 1024px) {
  #sliderDiv .slide .logoDiv hr {
    display: block;
    border: 1px solid #9AA095;
    width: 800px;
    position: absolute;
    left: 180%;
    top: 35%;
  }
}
@media (min-width: 1024px) {
  #sliderDiv .slide .logoDiv hr.bottom {
    left: auto;
    right: 110%;
  }
}
#sliderDiv .slide .quotemarks {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15rem;
  font-weight: 400;
  line-height: 10rem;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #9AA095;
  margin: 10px 0px -120px -25px;
}
@media (min-width: 1024px) {
  #sliderDiv .slide .quotemarks {
    margin: -10px 0px -150px 150px;
  }
}
#sliderDiv .slide .quote {
  padding: 40px 15px 30px;
  background-color: #fff;
  text-align: left;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #sliderDiv .slide .quote {
    padding: 40px 20px 30px;
  }
}
@media (min-width: 1024px) {
  #sliderDiv .slide .quote {
    margin-left: 130px;
    padding: 40px 30px 40px 180px;
    min-height: 380px;
  }
}
#sliderDiv .slide .author {
  color: #fff;
}
@media (min-width: 1024px) {
  #sliderDiv .slide .author {
    align-items: flex-end;
    position: absolute;
    bottom: -80px;
    left: 50px;
  }
}
#sliderDiv .slide .author img {
  object-fit: cover;
}
@media (min-width: 1024px) {
  #sliderDiv .slide .author img {
    width: 283px;
    height: 378px;
    border-radius: 15px;
  }
}
#sliderDiv .slide.fade {
  animation-name: sliderFade;
  animation-duration: 1.5s;
}
#sliderDiv .sliderNav {
  text-align: center;
  margin-top: 60px;
  position: relative;
}
@media (min-width: 1024px) {
  #sliderDiv .sliderNav {
    text-align: right;
    width: 90%;
    max-width: 950px;
    margin: 110px auto 0px;
  }
}
#sliderDiv .sliderNav .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  z-index: 1;
}
#sliderDiv .sliderNav .active {
  background-color: #9AA095;
  transform: scale(1.5);
}
#sliderDiv .sliderNav .dot:hover {
  background-color: #9AA095;
}
#sliderDiv .sliderNav hr {
  display: none;
}
@media (min-width: 1024px) {
  #sliderDiv .sliderNav hr {
    display: block;
    border: 1px solid #9AA095;
    position: absolute;
    top: 40%;
    left: -3px;
    right: 0;
    width: 100vw;
  }
}

@keyframes sliderFade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
#resume {
  padding: 80px 0px;
  margin-top: 50px auto;
}
#resume .headerDiv {
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  #resume .headerDiv {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
#resume .companyList {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #9AA095;
  padding: 20px 0px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  #resume .companyList {
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}
#resume .companyList h3 {
  width: 100%;
}
@media (min-width: 1024px) {
  #resume .companyList h3 {
    width: 30%;
    gap: 100px;
  }
}
#resume .companyList .jobDetails {
  width: 70%;
}
@media (min-width: 768px) {
  #resume .companyList .jobDetails {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  #resume .companyList .jobDetails {
    width: 70%;
  }
}
#resume .companyList .jobDetails .positionHeading {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  #resume .companyList .jobDetails .positionHeading {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }
}
#resume .companyList .jobDetails .expandDetails {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}
#resume .companyList .jobDetails .expandDetails.active {
  max-height: 1000px;
}
#resume .companyList img {
  align-self: flex-start;
  transform-origin: center;
  transform: rotateZ(90deg);
  padding: 1rem 1rem 0;
  padding: 0 1rem;
  transition: transform 300ms ease-in-out;
}
#resume .companyList:hover {
  border-bottom-width: 2.5px;
}
#resume .companyList:hover h3,
#resume .companyList:hover .jobDetails > .positionHeading > h4 {
  font-weight: 900;
}
#resume .companyList:hover.active {
  border-bottom-width: 1px;
}
#resume .companyList:hover.active h3 {
  font-weight: 600;
}
#resume .companyList:hover.active .jobDetails > .positionHeading > h4 {
  font-weight: 500;
}
#resume .positionList {
  margin-bottom: 60px;
}
#resume .positionList li {
  list-style-type: disc;
  display: list-item;
  margin: 0 0 16px 32px;
}
#resume .positionList li ::before {
  content: "•";
}
#resume .positionList:last-child {
  margin-bottom: 0px;
}

#resumeCTAs {
  width: 100%;
  margin: 30px 0 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 0px;
  align-items: center;
  flex-wrap: nowrap;
}
#resumeCTAs .button {
  width: 100%;
}
@media (min-width: 768px) {
  #resumeCTAs .button {
    width: auto;
  }
}

#lets-connect {
  padding: 60px 0;
  position: relative;
}
@media (min-width: 768px) {
  #lets-connect {
    text-align: center;
  }
}
#lets-connect p {
  margin: 0px auto 30px;
}
@media (min-width: 768px) {
  #lets-connect p {
    max-width: 650px;
  }
}
@media (min-width: 768px) {
  #lets-connect p {
    max-width: 850px;
  }
}
#lets-connect .bgDiv {
  background-color: #10130E;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: -2;
  height: 34%;
}
@media (min-width: 768px) {
  #lets-connect .bgDiv {
    height: 25%;
  }
}

@media (min-width: 768px) {
  #contactBtnsDiv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  #contactBtnsDiv {
    justify-content: center;
  }
}
#contactBtnsDiv .button {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 20px;
  border: 1px solid #10130E;
  background-color: #fff;
  width: 100%;
  color: #494949;
  text-align: left;
}
#contactBtnsDiv .button:hover, #contactBtnsDiv .button:focus-visible {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  #contactBtnsDiv .button {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #contactBtnsDiv .button {
    width: auto;
  }
}
#contactBtnsDiv .button img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
#contactBtnsDiv .button h3 {
  margin-bottom: 5px;
}
#contactBtnsDiv .button p {
  margin-bottom: 0px;
}
#contactBtnsDiv .button:first-child {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  #contactBtnsDiv .button:first-child {
    margin-bottom: 0px;
  }
}

#projectHeader {
  position: relative;
}
@media (min-width: 1024px) {
  #projectHeader {
    padding: 50px;
  }
}
#projectHeader .headerBG {
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65%;
  z-index: -2;
}
@media (min-width: 768px) {
  #projectHeader .headerBG {
    height: 80%;
  }
}
@media (min-width: 1024px) {
  #projectHeader .headerBG {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  #projectHeader .myContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
#projectHeader #projectCTAs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #projectHeader #projectCTAs {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  #projectHeader #projectCTAs {
    justify-content: flex-start;
    order: 2;
  }
}
#projectHeader #projectCTAs .button {
  width: 100%;
}
@media (min-width: 1024px) {
  #projectHeader #projectCTAs .button {
    width: auto;
  }
}

ul.categoryTagsDiv {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
}

.projectMainImg {
  color: gray;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .projectMainImg {
    grid-row: span 2;
    height: 120%;
  }
}

#creativeBreif {
  padding: 60px 0;
}
@media (min-width: 1024px) {
  #creativeBreif .myContainer {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  #creativeBreif #projectBrief {
    width: 70%;
  }
}
#creativeBreif h3:nth-child(1n) {
  margin-top: 60px;
}
#creativeBreif #projectDetails {
  margin-top: 60px;
}
@media (min-width: 768px) {
  #creativeBreif #projectDetails {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 0px;
  }
}
#creativeBreif #projectDetails > div {
  margin: 0px 0px 30px;
}
@media (min-width: 768px) {
  #creativeBreif #projectDetails > div {
    width: 50%;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  #creativeBreif #projectChallenges {
    width: 50%;
  }
}
#creativeBreif .projectTools {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
@media (min-width: 1024px) {
  #creativeBreif .projectTools {
    justify-content: flex-start;
  }
}
#creativeBreif .projectTools > li {
  width: 40%;
}
@media (min-width: 768px) {
  #creativeBreif .projectTools > li {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  #creativeBreif .projectTools > li {
    width: 22%;
  }
}
#creativeBreif .projectToolsIcon {
  width: 50px;
  height: 50px;
  background-color: gray;
  flex-shrink: 0;
  margin-bottom: 15px;
}

#process {
  background-color: #10130E;
  padding: 60px 0;
}
#process h2 {
  color: #ffffff;
  text-align: center;
}
#process ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  #process ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
#process li {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0px;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 10px 15px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(154, 160, 149, 0.4) 500%);
}
@media (min-width: 1024px) {
  #process li {
    min-height: 175px;
  }
}
#process li p {
  width: 100%;
  margin-bottom: 0px;
  order: 2;
}
#process li .processNum {
  color: #ffffff;
}
#process li img {
  order: 1;
  background-color: gray;
  width: 60px;
  height: 60px;
  margin: 0 0 -20px auto;
}

#results {
  padding: 60px 0;
}
@media (min-width: 768px) {
  #results .myContainer {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  #results #projectBullets {
    width: 20%;
    min-width: 300px;
  }
}
#results #projectResultsDescription {
  margin-top: 60px;
}
@media (min-width: 768px) {
  #results #projectResultsDescription {
    width: 100%;
    margin-top: 20px;
  }
}

#creativeBreif ul,
#results ul {
  padding-left: 25px;
}
#creativeBreif ul li,
#results ul li {
  margin-bottom: 20px;
}

/*# sourceMappingURL=application.css.map */
