* {
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
main {
  overflow: hidden;
  max-width: 100vw;
}

h1,
.styledH1 {
  @include text($fontPrimary, 2.25rem, 700, 2.875rem, #000);
  margin-bottom: 1.25rem;
  position: relative;
  z-index: 1;

  @include tablet {
    font-size: 4.5rem;
    line-height: 5.25rem;
  }

  @include laptop {
    font-size: 4.5rem;
  }
}

h2,
.styledH2 {
  @include text($fontPrimary, 3rem, 700, 3rem, #000);
  margin-bottom: 1.25rem;

  @include tablet {
    font-size: 3.25rem;
    line-height: 4rem;
  }
}

h3,
.styledH3 {
  @include text($fontPrimary, 1.75rem, 600, 2.25rem, #000);
  margin-bottom: 1rem;
}

h4,
.styledH4 {
  @include text($fontSecondary, 1.25rem, 400, 1.875rem, #000);
  margin-bottom: 1rem;
}

body {
  @include text($fontSecondary, 1rem, 300, 1.5rem, $colorBody);

  @include tablet {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

a,
.button {
  @include text($fontSecondary, 1rem, 400, 1rem, $colorBody);
  text-decoration: none;
  cursor: pointer;

  .navLink {
    @include text($fontSecondary, 1.125rem, 400, 1.75rem);
  }
}

.button {
  color: #fff;
  background-color: $colorDark;
  text-align: center;
  display: inline-block;
  border-radius: 0.625rem;
  padding: 1.25rem 2rem;
  white-space: nowrap;
  border: none;
  transition: transform 0.3s ease-in-out;

  @include laptop {
    padding: 1rem 2rem;
  }
  
  svg {
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(-0.625rem);
    transition: transform 0.3s,
      opacity 0.3s ease-in-out,
      width 0.3s ease-in-out,
      height 0.3s ease-in-out;
  }
  
  &:hover,
  &:focus-visible {
    @include laptop {
      @include flexbox(center, 0.5rem, center, nowrap);
      display: inline-flex;
      transform: scale(1.02);
      padding-right: 1.5rem;
    }

    svg {
      @include laptop {
        width: auto;
        height: 0.75rem;
        opacity: 1;
        transform: translate(0, -1px);
      }
    }
  }

  &.secondary {
    background-color: #fff;
    color: $colorDark;
    border: 1px solid $colorDark;
  }
}

img {
  max-width: 100%;
}

header {
  padding-top: 5rem;

  @include tablet {
    padding-top: 6.25rem;
  }
}

.myContainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.625rem;
  position: relative;

  @include tablet {
    padding: 0 1.25rem;
  }
}

.display--inlineblock {
  display: inline-block;
}

.cornerRadius {
  border-radius: 1rem;
}

.boxShadow {
  box-shadow: rgba(16, 19, 14, 0.2) 0 2px 8px;
  -webkit-box-shadow: rgba(16, 19, 14, 0.2) 0 2px 8px;
  -moz-box-shadow: rgba(16, 19, 14, 0.2) 0 2px 8px;
}

.detailLines {
  display: none;

  @include laptop {
    display: block;
    position: absolute;
    border: 1px solid $colorMain;
  }
}

a.project {
  display: block;
  border: 1px solid $colorMain80;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  transition: border-color 300ms ease-in-out;
  width: 100%;

  .imgDiv {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: 1px solid $colorMain80;

    img {
      width: 100%;
      transition: transform 300ms;
    }
  }

  .categoryTagsDiv {
    @include flexbox( flex-start, 0.625rem, center, wrap);
    width: 100%;
    margin: 0.625rem 0.625rem 0;

    @include laptop {
      flex-wrap: nowrap;
    }
  }

  h3 {
    margin: 1rem 0.625rem 0.625rem;
  }
}

a.project:hover {
  border-color: $colorMain;

  img {
    transform: scale(1.1);
  }
}

.categoryTag {
  padding: 2px 0.75rem;
  position: relative;
  font-size: 0.7rem;
  font-weight: 400;

  p {
    margin-bottom: 0;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .categoryTagsBorder {
    border-radius: 2rem;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .categoryTagsBG {
    border-radius: 2rem;
    background-image: radial-gradient(circle at 60% 100%, rgba(255, 255, 255, 0.75), rgba(154, 160, 149, 0.75));
    filter: blur(1px);
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
  }
}

.author {
  @include flexbox(flex-start, 1rem, center, nowrap);
  width: 100%;
  img {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 0.25rem;
  }

  p {
    margin-bottom: 0;
  }

  .name {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
}

#contact {
  position: relative;
  padding: 3.75rem 0 6.25rem;

  .myContainer {
    text-align: center;

    @include tablet {
      text-align: left;
      @include flexbox(center, 0, flex-end, wrap);
    }

    h2 {
      @include tablet {
        max-width: 400px;
        transform: translateX(2rem);

      }
    }

    > p {
      margin-bottom: 2rem;

      @include tablet {
        transform: translateX(-4rem);
      }
    }

    #contactBtnsDiv {
      width: 100%;
    }
  }

  .bgDiv {
    background-color: $colorDark;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    height: 50%;
    max-height: 225px;

    @include tablet {
      height: 32%;
    }
  }
}

#relatedProjects {
  position: relative;

  @include desktop {
    margin-top: -1px;
  }

  h2 {
    color: #fff;
    text-align: center;
  }

  .bgDiv {
    background-color: $colorDark;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
    height: 25%;

    @include laptop {
      height: 50%;
      top: -1px;
    }
  }
}