#contactSection {
  padding: 0 20px 30px;
  scroll-margin-top: 4em;

  @include tablet {
    @include flexbox(flex, space-between, center, wrap);
    scroll-margin-top: 5em;
  }

  @include desktop {
    max-width: 1024px;
    margin: 0 auto;
    scroll-margin-top: 6em;
  }

  >div {
    width: 100%;

    @include tablet {
      width: 50%;
      padding-right: 20px;
    }
  }

  .bodyCopy {
    margin-top: 1em;
  }

  #emailAddress {
    text-decoration: none;
    @include text($bodyCopyFont, 1em, $bodyCopyFontColor);
    border-bottom: 1px solid $subheadFontColor;

    &:hover {
      color:$subheadFontColor;
    }
  }

  #googleMap {
    display: block;
    width: 100%;
    height:175px;
    background-color: #000000;

    @include tablet {
      width: 49%;
      height: 375px;
    }
  }

  #copyright {
    padding: 1em 0 0;
    @include text($bodyCopyFont, 0.85em, $bodyCopyFontColor);
  }
}

#linkedinProfile,
#githubProfile {
  text-decoration: none;
}

#linkedinProfile>div {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0.5em 0.35em 0 0;
  background-image: url(../img/icon-linkedin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    background-image: url(../img/icon-linkedin-f4b527.svg);
  }
}

#githubProfile>div {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0.5em 0.35em 0 0;
  background-image: url(../img/icon-github.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    background-image: url(../img/icon-github-f4b527.svg);
  }
}
