#shout-outs {
    padding-top: 80px;
    margin: -50px auto 60px;

    .myContainer {
        padding: 0;

        @include laptop {
            padding: 0 20px;
        }
    }

    h2 {
        padding: 0px 20px;
        text-align: center;
    }
}

#sliderDiv {
    background-color: $colorDark;
    padding: 40px 20px;

    @include tablet {
        padding: 60px 30px 40px;
    }

    @include laptop {
        border-radius: 30px;
    }

    .slide {
        position: relative;

        @include laptop {
            width: 90%;
            max-width: 950px;
            margin: 0 auto;
            padding-left: 50px;
        }

        .logo {
            width: 150px;
            height: auto;
            position: absolute;
            top: -10px;
            right: 0;

            @include tablet {
                width: 200px;
                top: -20px;
            }

            @include laptop {
                width: auto;
                height: 50px;
                top: auto;
                bottom: 10px;
                left: -100px;
                transform: rotate(-90deg);
            }
        }

        .quotemarks {
            @include text($fontPrimary, 15rem, 400, 10rem, transparent);
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: $colorMain;
            margin: 10px 0px -120px -25px;

            @include laptop {
                margin: -10px 0px -150px 150px;
            }
        }

        .quote {
            padding: 40px 15px 30px;
            background-color: #fff;
            text-align: left;
            margin-bottom: 30px;

            @include tablet {
                padding: 40px 20px 30px;
            }

            @include laptop {
                margin-left: 130px;
                padding: 40px 30px 40px 180px;
            }
        }

        .author {
            color: #fff;

            @include laptop {
                align-items: flex-end;
                position: absolute;
                bottom: -80px;
                left: 50px;
            }

            img {
                @include laptop {
                    width: 283px;
                    height: 378px;
                    border-radius: 15px;
                }
            }
        }
    }

    .sliderNav {
        text-align: center;
        margin-top: 60px;

        @include laptop {
            text-align: right;
            width: 90%;
            max-width: 950px;
            margin: 110px auto 0px;
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 4px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, 
        .dot:hover {
            background-color: $colorMain;
            transform: scale(1.5);
          }
    }
}