#lets-connect {
  padding: 60px 0;
  position: relative;

  @include tablet {
    text-align: center;
  }

  p {
    margin: 0px auto 30px;

    @include tablet {
      max-width: 650px;
    }

    @include tablet {
      max-width: 850px;
    }
  }

  .bgDiv {
    background-color: $colorDark;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    height: 34%;

    @include tablet {
      height: 25%;
    }
  }
}

#contactBtnsDiv {
  @include tablet {
    @include flexbox(space-between, 10px, stretch, nowrap);
  }

  @include laptop {
    justify-content: center;
  }
  
  button {
    @include flexbox(center, 20px, center, nowrap);
    padding: 10px 20px;
    border: 1px solid $colorDark;
    background-color: #fff;
    width: 100%;
    color: $colorBody;
    text-align: left;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
    }

    @include tablet {
      width: 50%;
    }

    @include laptop {
      width: auto;
    }

    img {
      width: 30px;
      height: 30px;
      background-color: gray;
      flex-shrink: 0;
    }

    h3 {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0px;
    }
  }

  button:first-child {
    margin-bottom: 15px;
    
    @include tablet {
      margin-bottom: 0px;
    }
  }
}