#resume {
  padding: 80px 0px;
  margin-top: 50px auto;

  .headerDiv {
    margin-bottom: 24px;

    @include laptop {
      @include flexbox(flex-start, 60px, flex-start, nowrap);
    }
  }

  .companyList {
    @include flexbox(space-between, 16px, center, wrap);
    border-bottom: 1px solid $colorMain;
    padding: 20px 0px;
    cursor: pointer;

    @include laptop {
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    h3 {
      width:100%;

      @include laptop {
        width: 30%;
        gap: 100px;
      }
    }
    
    .jobDetails {
      width: 70%;

      @include tablet {
        width: 90%;
      }

      @include laptop {
        width: 70%;
      }

      .positionHeading {
        @include flexbox(flex-start, 0px, flex-start, wrap);
        flex-direction: column-reverse;

        @include tablet {
          flex-direction: row;
          gap: 20px;
          justify-content: space-between;
        }
      }

      .expandDetails {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
      }

      .expandDetails.active {
        max-height: 1000px;
      }
    }

    img {
      align-self: flex-start;
      transform-origin: center;
      transform: rotateZ(90deg);
      padding: 1rem 1rem 0;
      padding: 0 1rem;
      transition: transform 300ms ease-in-out;
    }
  }

  .companyList:hover {
    border-bottom-width: 2.5px;

    h3,
    .jobDetails > .positionHeading > h4 {
      font-weight: 900;
    }
  }

  .companyList:hover.active {
    border-bottom-width: 1px;

    h3 {
      font-weight: 600;
    }

    .jobDetails > .positionHeading > h4 {
      font-weight: 500;
    }
  }

  .positionList {
    margin-bottom: 60px;

    li {
      list-style-type: disc;
      display: list-item;
      margin: 0 0 16px 32px;

      ::before {
        content: '•';
      }
    }
  }

  .positionList:last-child {
    margin-bottom: 0px;
  }
}

#resumeCTAs {
  width: 100%;
  margin: 30px 0 0 auto;
  @include flexbox(flex-end, 0px, center, nowrap);

  .button {
    width: 100%;

    @include tablet {
      width: auto;
    }
  }
}