nav {
  padding: 0 0.5em;  
  @include text($allFont, 1em, black, $regFont);
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
        -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    @include flexbox(flex, space-between, center, wrap);
  }
  
  #icon-menu {
    width: 1.75em;
    padding: 0.5em 0;
    @include tablet{
      display: none;
    }
  }

  #dropdown {
    padding: 0 0.5em; 
    list-style: none;  
    display: none;
    order: 3;
    flex-basis: 100%;
    background-color: white;
    @include tablet {
      display: inline-block;
      @include flexbox(flex, space-around, center, nowrap);
      flex-basis: 70%;
      order: 1;
    }
    
    li {
      @include text($allFont, 1.1em, $slate, $regFont);
      padding: 0.75em 0;
      border-bottom: 0.75px solid $slate;
      @include tablet {
        @include flexbox(flex, space-around, baseline, nowrap);
        border-bottom: none;
        font-size: 1em;
        color: white;
      }
      
      &:hover {
        color: $hue;
        @include tablet {
          color: white;
        }
      } //end hover
        
      &:nth-of-type(6) {
        border-bottom: none;
      }
    } // end li
    
    .menu-item {
      @include text($allFont, 1.1em, $darker, $regFont);
      text-decoration: none;
      @include tablet {
        margin-left: -3.25em;
      }
            
      &:hover {
        color: $hue;
      }
    } // end menu-item
  } // end dropdown
  
  .nav-name {
    @include text($allFont, 1.25em, black, $semibFont);
    order: 2;
    color: $darker;
    text-transform: uppercase;
    @include tablet {
      margin-right: 0.5em;
    }
  }
} //end nav