#navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

    #nav {
      padding: 5px 20px 10px;
      @include flexbox(flex, space-between, center, wrap);
      margin: 0 auto;


      @include desktop {
        max-width: 1024px;
      }

      #logo {
        display: inline-block;
        width: 80%;

        @include tablet {
          width: 35%;
        }

        @include desktop {
          width: 30%;
        }

      }

      #navMenuIcon {
        width: 1.75em;
        display: inline-block;

        @include tablet {
          display: none;
        }
      }

      #navMenu {
        display: none;
        margin: 0 auto;

        @include tablet {
          @include flexbox(flex, space-between, center, nowrap);
          width: 65%;
          padding-left: 20px;
          text-align: right;
          margin: 0;
        }

        @include desktop {
          width: 50%;
        }

        a {
          text-decoration: none;
          display: block;
          text-align: center;
          padding: 1em 0 0;

          @include tablet {
            display: inline-block;
            text-align: right;
            padding: 0px;
            margin-left: 1em;
          }
        }
      }
    } // end nav
} // end navContainer


#headerImg {
  width: 100%;
  height: 300px;
  background-color: gray;
  position: relative;
  z-index: 0;
  margin-top: 4.5em;
  background-image: url('../img/computer-820281.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    text-align: right;
    position: absolute;
    bottom: -75px;
    right: 40px;
    @include text($subheadFont, 34pt, $subheadFontColor);
    font-weight: 300;
    letter-spacing: 15px;
    writing-mode: vertical-rl;
    text-shadow: none;

    @include tablet {
      writing-mode: horizontal-tb;
      bottom: 75px;
      right: 20px;
      text-shadow: 1px 1px 15px #535353, 1px 1px 15px #000000;
    }

    @include desktop {
      max-width: 1024px;
      right: 15%;
    }
  }
}
