nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  @include tablet {
    padding: 0 0.625rem;
    transition: padding 300ms ease-in-out;
  }

  .myContainer {
    @include flexbox(space-between, 0.625rem, center, wrap);
    padding-top: 0.625rem;
    overflow: hidden;

    @include tablet {
      flex-wrap: nowrap;
      gap: 1.25rem;
    }
    
    p {
      @include text($fontSecondary, 1.125rem, 500, 1.75rem, #000);
      flex-shrink: 0;
      margin-bottom: 0;
    }

    menu {
      max-height: 0;
      width: 100%;
      opacity: 0;
      overflow: hidden;
      list-style: none;
      text-align: right;
      padding: 1rem;
      order: 3;
      position: absolute;
      top: -100%;
      transition: max-height 300ms ease-in-out;

      @include tablet {
        position: static;
        max-height: none;
        width: auto;
        padding: 0 0 0.25rem;
        opacity: 1;
        display: flex;
        gap: 1.25rem;
      }

      li {
        padding: 0.8rem;

        @include tablet {
          padding: 0;
        }
      }
    }

    menu.active {
      max-height: 1000px;
      opacity: 1;
      position: static;
    }

    > div {
      order: 2;

      @include tablet {
        order: 3;
        position: relative;
        width: 7rem;
      }
    }

    #menu {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.625rem;

      @include tablet {
        display: none;
      }

    }

    .button {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 0.75rem;

      @include tablet {
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        bottom: auto;
        transform: translateY(-50%);
      }
    }

    div {
      @include flexbox(space-between, 0.625rem, center, nowrap);
    }
  }

  .myContainer.scrolled {
    background-color: #fff;
    padding-bottom: 0.625rem;
    transition: background-color 300ms ease-in-out,
      padding-bottom 300ms ease-in-out;

    @include tablet {
      margin-top: 0.25rem;
      border-radius: 0.625rem;
    }

    p {
      transform-origin: center left;
      transition: transform 300ms ease-in-out;

      @include tablet {
        transform: scale(1.5);
      }
    }
  }
}

footer.dark {
  background-color: $colorDark;
  color: #fff;

  .navLink {
    color: #fff;
  }
}

footer {
  padding: 3.75rem 0 0.625rem;
  background-color: #fff;
  color: $colorDark;
  max-width: 100vw;
  overflow: hidden;
  margin-top: -1px;

  .myContainer {
    @include flexbox(space-between, 0, center, wrap);
    margin-top: -7rem;
    padding: 0;

    @include tablet {
      margin-top: 0rem;
    }

    .footerName {
      width: 60%;
      border-bottom: 1px solid $colorMain;
      padding-bottom: 0.625rem;
      flex-shrink: 0;

      @include tablet {
        width: 100%;
        border-bottom: none;
        @include flexbox(space-between, 2rem, center, nowrap);
      }

      a {
        @include text($fontPrimary, 2.2rem, 600, 2.8rem, $colorDark);
        display: block;
        padding: 0 1.25rem;
        margin-bottom: 0;

        @include tablet {
          min-width: 240px;
        }
      }

      hr {
        display: none;
        @include tablet {
          display: block;
          border-color: $colorMain;
          width: 100%;
        }

        @include laptop {
          position: absolute;
          width: 200%;
          left: 16rem;
        }
      }
    }

    ul {
      border-top: 1px solid $colorMain;
      padding: 2rem 1rem 0 1rem;
      margin-top: 7rem;

      @include tablet {
        @include flexbox(flex-start, 1.25rem, baseline, nowrap);
        margin-top: 0;
        width: auto;
        padding: 0 1.25rem;
        border-top: none;
      }

      @include laptop {
        margin-left: 7rem;
      }

      li {
        list-style-type: none;
        margin-bottom: 0.625rem;
      }
    }
  }

  .navLink {
    color: $colorDark;
    font-weight: 300;
  }

  .copyright {
    width: 100%;
    text-align: center;
    margin: 2rem 1.25rem 0;
    font-size: 0.65rem;
    font-weight: 300;

    @include tablet {
      width: auto;
      margin-top: 0;
      font-size: 0.75rem;
    }
  }
}

footer.dark {
  @include desktop {
    margin-top: -1px;

  }
  .footerName a {
    color:#fff;
  }
}

#footerLinks {
  @include tablet {
    position: relative;
  }

  hr {
    display: none;

    @include laptop {
      display: block;
      position: absolute;
      left: auto;
      right: 80%;
      top: 35%;
      width: 200%;
      border-color: $colorMain;
    }
  }
}