#portfolioSection {
  padding: 30px 20px;
  scroll-margin-top: 3em;

  .bodyCopy {
    margin-bottom: 0.75em;
  }

  @include tablet {
    scroll-margin-top: 4em;
  }

  @include desktop {
    max-width: 1024px;
    margin: 0 auto;
    scroll-margin-top: 5.75em;
  }

  #portfolioLinksDiv {
    @include flexbox(flex, space-between, center, nowrap);
    margin-bottom: 20px;

    @include tablet {
      justify-content: center;
    }

    p {
      margin: 0 10px;
      cursor: pointer;
    }

    a {
      @include text($subheadFont, 1.5em, $subheadFontColor);
      font-weight: 400;
      text-decoration: none;

      @include tablet {
        padding: 1em 1.75em;
      }
    }
  }

  #portfolioWork {
    @include flexbox(flex, space-around, center, wrap);

    >div.galleryIMG {
      width: 48%;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

      @include desktop {
        width: 32%;
      }
    }
  }

  #loadMore {
    @include text($subheadFont, 1.05em, $headlineFontColor);
    font-weight: 300;
    border-bottom: 1px solid $subheadFontColor;
    text-transform: lowercase;
    text-decoration: none;
    margin-left: auto;

    &:hover {
      color:$subheadFontColor;
    }

    @include tablet {
      font-size: 1.35em;
    }
  }

  .galleryIMG>img{
    width: 100%;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
  }

  .galleryIMG:hover .overlay {
    opacity: 0.8;
  }

  .text {
    @include text($subheadFont, 1.5em, $subheadFontColor);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

}

#popup {

  #popupControls {
    @include flexbox(flex, space-between, center, nowrap);
  }

  .JPO_close {
    padding: 0.35em 0.5em;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    margin: 25px 1em 0.5em 0;
    text-decoration: none;
    @include text($bodyCopyFont, 1em, $subheadFontColor);

    &:hover {
      color:#ffffff;
    }
  }

  #popupNext,
  #popupPrev {
    padding: 0.35em 0.5em;
    background-color: #000000;
    color: #ffffff;
    border: none;
    margin: 25px 0 0.5em 1em;
    text-decoration: none;
    @include text($bodyCopyFont, 1em, $subheadFontColor);

    &:hover {
      color:#ffffff;
    }
  }

  #popupTitle {
    width: 85%;
    display: inline-block;
    color: #ffffff;
    margin: 25px 0 0.5em;
  }

  #popupImageDiv,
  .popupImage {
    width: 100%;
    max-width: 300px;
    margin: auto;

    @include tablet {
      max-width: 700px;
    }

    @include desktop {
      max-width: 1000px;
    }

  }

}
