#projectHeader {
    position: relative;

    @include laptop {
        padding: 7.5rem 0;
    }

    .headerBG {
        background-color: lightblue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 65%;
        z-index: -2;

        @include tablet {
            height: 80%;
        }

        @include laptop {
            height: 100%;
        }
    }

    .myContainer {
        @include tablet {
            @include flexbox(space-between, 1rem, center, wrap);
        }

        @include laptop {
            gap: 2rem;
        }

        #headerContent {
            @include laptop {
                width: 60%;
                max-width: 600px;
            }
        }

        > img {
            @include tablet {
                order: 3;
            }

            @include laptop {
                order: 2;
                width: 100%;
            }
        }
    }

    
    #projectCTAs {
        width: 100%;
        @include flexbox(space-between, 0.625rem, $wrap:wrap);
      
        @include tablet {
          flex-wrap: nowrap;
        }
      
        @include laptop {
          justify-content: flex-start;
          order: 2;
        }
      
        .button {
          width: 100%;
          
          @include tablet {
            width: auto;
          }
        }
    }
}

ul.categoryTagsDiv {
    @include flexbox(flex-start, 0.625rem, center, wrap);
    list-style: none;
    margin-bottom: 1.25rem;

    .categoryTag {
        padding: 0 0.75rem;
        font-size: 0.7rem;

        p {
            margin: -2px 0;
        }
    }
}

.projectMainImg {
    color: gray;
    width: 100%;
    margin-bottom: 2rem;

    @include laptop {
        grid-row: span 2;
    }
}

#creativeBreif {
    padding: 3.75rem 0;

    .myContainer{
        @include laptop {
            @include flexbox(space-between, 3.75rem, flex-start, nowrap);
        }   
    }

    #projectBrief {
        @include laptop {
            width: 70%;
        }
    }

    #projectDetails {
        margin: 3.75rem 0;

        @include tablet {
            @include flexbox(space-between, 2rem, flex-start, nowrap);
            margin-top: 0;
        }

        > div {
            margin: 0 0 2rem;

            @include tablet {
                width: 50%;
            }
        }
    }

    #projectChallenges {
        @include laptop {
            width: 50%;
        }
    }

    .projectTools {
        @include flexbox(center, 1rem, flex-start, wrap);
        list-style: none;
        text-align: center;
        padding-left: 0;

        @include laptop {
            justify-content: flex-start;
        }

        > li {
            width: 40%;

            @include tablet {
                width: 30%;
            }

            @include laptop {
                width: 22%;
            }
        }
    }

    .projectToolsIcon {
        width: 3rem;
        height: 3rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
    }
}

#process {
    background-color: $colorDark;
    padding: 3.75rem 0;
    
    h2 {
        color: #ffffff;
        text-align: center;
    }

    ul {
        @include grid(2, 1rem);
        width: 100%;

        @include tablet {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    li {
        list-style: none;
        @include flexbox(center, 0, flex-end, wrap);
        background-color: rgb(255 255 255 / 35%);
        padding: 0.625rem 1rem;
        background-image: radial-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(154, 160, 149, 0.4) 500%);

        @include laptop {
            min-height: 175px;
        }

        p {
            width: 100%;
            margin-bottom: 0;
            order: 2;
        }

        .processNum {
            color: #ffffff;
        }

        img {
            order: 1;
            width: 3.75rem;
            height: 3.75rem;
            margin: 0 0 -1.25rem auto;
            
            @include laptop {
                width: 5.5rem;
                height: 5.5rem;
            }
        }
    }
}

#results {
    padding: 3.75rem 0;

    .myContainer {
        @include tablet {
            @include flexbox(space-between, 3.75rem, flex-start, nowrap);
        }
    }

    #projectBullets {
        @include tablet {
            width: 20%;
            min-width: 300px;
        }
    }
    
    #projectResultsDescription {
        margin-top: 3.75rem;

        @include tablet {
            width: 100%;
            margin-top: 1.25rem;
        }
    }


}

#creativeBreif ul,
#results ul {
    padding-left: 1.5rem;

    li {
        margin-bottom: 1.25rem;
    }
}

.projectQuote {
    margin: 1rem 0;
    text-align: left;

    @include tablet {
        @include flexbox(flex-start, 1rem, flex-start, nowrap);
        margin: 1rem auto;
        max-width: 800px;
    }

    > img {
        width: 3rem;
    }

    > div {
        flex-grow: 1;
        margin-top: 0.5rem;

        @include tablet {
            margin-top: 1rem;
        }
    }

    .quoteAuthor {
        width: 100%;
        @include flexbox(flex-start, 0.75rem, center, nowrap);
        margin-top: 2rem;

        img {
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 0.5rem;
            object-fit: cover;
            flex-shrink: 0;
        }

        p {
            margin-bottom: 0;
        }

        p:nth-of-type(1) {
            font-weight: 600;
            color: $colorDark;
        }
    }

}