#resumeSection {
  padding: 0 20px 30px;
  scroll-margin-top: 4em;

  @include tablet {
    scroll-margin-top: 5em;
  }

  @include desktop {
    max-width: 1024px;
    margin: 0 auto;
    scroll-margin-top: 6em;
  }

  >p.bodyCopy {
    margin-bottom: 1.5em;
  }

  #resumeJobList {
    @include flexbox(flex, space-between, top, wrap);

    .expandJobListing,
    .collapseJobListing {
      width: 5%;
      padding: 5px;
      align-self: flex-start;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-bottom: 1px solid $subheadFontColor;

      &:hover {
        color:$subheadFontColor;
      }

      @include tablet {
        width: 3%;
      }

      @include desktop {
        width: 2%;
      }
    }
  }

  .resumeJobListItem {
    @include flexbox(flex, space-between, top, wrap);
    width: 95%;

    .companyName {
      width: 100%;
      margin-bottom: 0.25em;

      @include tablet {
        width: 40%;
      }

      @include desktop {
        width: 25%;
        margin-right: 20px;
      }
    }

    .jobListing {
      width: 90%;

      @include tablet {
        width: 60%;
        padding-left: 10px;
      }

      @include desktop {
        width: 70%;
      }
    }

    .jobDescription {
      margin: 0.5em 0 2em;
      font-size: 1em;
    }
  }

  #jobDescriptionChatsworth,
  #jobDescriptionCorning {
    @include tablet {
      margin-top: -27px;
      margin-left: 40%;
      width: 60%;
      padding-left: 10px;
    }

    @include desktop {
      margin-left: 30%;
      width: 70%;
    }
  }

  #jobDescriptionPurered,
  #jobDescriptionElectrolux {
    @include tablet {
      // margin-top: -8px;
      margin-left: 40%;
      width: 60%;
      padding-left: 10px;
    }

    @include desktop {
      margin-left: 30%;
      width: 70%;
    }
  }

  hr {
    margin: 10px 0;
    color: $bodyCopyFont;
    width: 100%;
  }
}

#resumePDf {
  width: 95px;
  margin-right: 0;
  margin-left: auto;

  a{
    display: block;
    padding: 0.5em 0 0;
    text-align: right;
    text-decoration: none;
    @include text($subheadFont, 1.35em, $headlineFontColor);
    font-weight: 300;
    border-bottom: 1px solid $subheadFontColor;
    text-transform: lowercase;

    &:hover {
      color:$subheadFontColor;
    }

  }

}

#programsBarContainer {
  width: 100%;
  background-color: #dcddde;

  #programsBar {
    margin: 0 auto 30px;
    max-width: 1024px;
    padding: 10px 20px;
    height: 70px;
    position: relative;

    @include tablet {
      @include flexbox(flex, space-between, center, nowrap);
      padding: 10px 20px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include tablet {
        display: inline-block;
        margin: 0.25em 0.5em;
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }

      @keyframes flickerAnimation {
        0%   { opacity: 0; }
        10%  { opacity: 1; }
        20% { opacity: 0; }
        100% { opacity: 0; }
      }

      @-o-keyframes flickerAnimation{
        0%   { opacity: 0; }
        10%  { opacity: 1; }
        20% { opacity: 0; }
        100% { opacity: 0; }
      }

      @-moz-keyframes flickerAnimation{
        0%   { opacity: 0; }
        10%  { opacity: 1; }
        20% { opacity: 0; }
        100% { opacity: 0; }
      }

      @-webkit-keyframes flickerAnimation{
        0%   { opacity: 0; }
        10%  { opacity: 1; }
        20% { opacity: 0; }
        100% { opacity: 0; }
      }

      &:nth-child(1) {
        height: 30px;
        opacity: 0;
        animation: flickerAnimation 20s infinite;
          -webkit-animation: flickerAnimation 20s infinite;
          -moz-animation: flickerAnimation 20s infinite;
          -o-animation: flickerAnimation 20s infinite;

        @include tablet {
          opacity: 1;
          animation: none;
        }
      }

      &:nth-child(2) {
        height: 50px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 4s;
          -webkit-animation: flickerAnimation 20s infinite 4s;
          -moz-animation: flickerAnimation 20s infinite 4s;
          -o-animation: flickerAnimation 20s infinite 4s;

        @include tablet {
          opacity: 1;
          animation: none;
        }
      }

      &:nth-child(3) {
        height: 50px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 7s;
          -webkit-animation: flickerAnimation 20s infinite 7s;
          -moz-animation: flickerAnimation 20s infinite 7s;
          -o-animation: flickerAnimation 20s infinite 7s;

        @include tablet {
          opacity: 1;
          animation: none;
        }
      }

      &:nth-child(4) {
        height: 50px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 10s;
          -webkit-animation: flickerAnimation 20s infinite 10s;
          -moz-animation: flickerAnimation 20s infinite 10s;
          -o-animation: flickerAnimation 20s infinite 10s;

        @include tablet {
          opacity: 1;
          animation: none;
        }
      }

      &:nth-child(5) {
        height: 48px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 13s;
          -webkit-animation: flickerAnimation 20s infinite 13s;
          -moz-animation: flickerAnimation 20s infinite 13s;
          -o-animation: flickerAnimation 20s infinite 13s;

        @include tablet {
          opacity: 1;
          animation: none;
        }
      }

      &:nth-child(6) {
        height: 34px;
        opacity: 0;
        animation: flickerAnimation 20s infinite 16s;
          -webkit-animation: flickerAnimation 20s infinite 16s;
          -moz-animation: flickerAnimation 20s infinite 16s;
          -o-animation: flickerAnimation 20s infinite 16s;

        @include tablet {
          opacity: 1;
          animation: none;
        }
      }
    }
  } // end programsBar
} // end programsBarContainer
