#skillsSection {
  padding: 0 0 30px;
  width: 100%;
  display: block;
  background-color: #000000;
  background: url('../img/light-bulbs-406939_sm.jpg') no-repeat top;
  background-size: cover;
  scroll-margin-top: 4em;

  @include tablet {
    @include flexbox(flex, space-between, center, wrap);
    scroll-margin-top: 5em;
  }

  @include desktop {
    margin: 0 auto;
    background: url('../img/light-bulbs-406939.jpg') no-repeat top;
    background-size: cover;
    scroll-margin-top: 6em;
  }

  .headline{
    color: #ffffff;
    width: 100%;
    padding: 15px 20px 0;
  }

  .skillsIcon {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin-left: -0.5em;

    @include tablet {
      margin-top: 15px;
    }
  }

  .subhead{
    display: inline;
    vertical-align: 9px;
    margin-left: 5px;
    color: $subheadFontColor;
  }

  .bodyCopy{
    color: #ffffff;
  }

  #skillsContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
  }

  #skillsList {
    padding: 0 20px;

    @include tablet {
      width: 70%;
    }

    @include desktop {
      width: 50%;
    }
  }

}
