$headlineFont: 'Source Serif Pro', serif;
$subheadFont: 'Roboto Condensed', sans-serif;
$bodyCopyFont: 'Roboto Condensed', sans-serif;
$linkCopyFont: 'Roboto Condensed', sans-serif;

$headlineFontColor: #000000;
$subheadFontColor: #f4b527;
$bodyCopyFontColor: #535353;
$linkFontColor: #535353;
